body{
    font-family: "Poppins", sans-serif;
    font-size: x-small;
}

h3{text-align: center;
 background-color: #ebeef2;
 padding: 20px;
}
 .btn{
    background-color: #ebeef2 !important;
    color: black !important;
    border: #ebeef2 !important;
 }